sops-v3.9.0.checksums.pem
sops-v3.9.0.checksums.sig
sops-v3.9.0.checksums.txt
.bash_history
.bashrc
.cache/
.cloud-locale-test.skip
.config/
.gitconfig
.gnupg/
.kube/
.local/
.profile
.sigstore/
.ssh/
.viminfo
.wget-hsts
snap/
logs/
